@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  scroll-behavior: smooth;
}

*::-webkit-scrollbar {
  width: 6px;
}

*::-webkit-scrollbar-track {
  background: white;
}

*::-webkit-scrollbar-thumb {
  background: #6050dc;
}

*::-webkit-scrollbar-thumb:hover {
  background: rgba(96, 80, 220, 0.9);
}

.loader {
  width: 48px;
  height: 48px;
  border: 5px solid #6050dc;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.c-shadow {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
